$black1: #0c0c0d;
$white-smoke: #f4f4f4;
.home-section-five {
    .service-card {
        background-color: $white-smoke !important;
        p {
            color: $black1;
        }
    }
    .btn {
        margin-left: -10px;
    }
    @media only screen and (max-width: 768px) {
        .btn {
            width: 130px !important;
        }
    }
}