$black1: #0c0c0d;
$white-smoke: #f4f4f4;


.services-section-three{

    .testimonial-cards{
        .card{
            background-color: $white-smoke !important;
        }
        p:nth-child(1){
            color: $black1;
        }
        p:nth-child(2){
            color: $black1;
        }
    }
}